html {
	background: black;
}

p {
	font-size: 110%;
	font: sans, serif, monospace;
	color: white;
}

.first {
	font-size: 150%;
}

b {
	font-size: 70%;
}

h1 {
	text-align: center;
	color: white;
}

table {
	border-collapse: separate;
	border-spacing: 5px;
	margin: 0 auto;
}

th, td { 
	padding: 10px;
	color: white;
}

a:hover {
	color: white;
	text-decoration: none;
}

ol li p{
font-weight:500;
color:white;
}
ol li{
font-weight:700;
color:white;
}
